version: 2.1
jobs:
  build:
    docker:
      - image: cimg/openjdk:11.0

    working_directory: ~/retro-assembler

    environment:
      JVM_OPTS: -Xms512m -Xmx1200m
      TERM: dumb

    steps:
      - checkout
      - run: ./gradlew build test collectTestResults
      - store_test_results:
            path: build/test-results

  publish:
    docker:
      - image: cimg/openjdk:11.0

    working_directory: ~/retro-assembler

    environment:
      JVM_OPTS: -Xms512m -Xmx1200m
      TERM: dumb

    steps:
      - checkout
      - run: ./gradlew build publishPlugins -Pgradle.publish.key=${GRADLE_PUBLISH_KEY} -Pgradle.publish.secret=${GRADLE_PUBLISH_SECRET} -Ptag=${CIRCLE_TAG}

  documentation:
    docker:
      - image: cimg/openjdk:11.0
    steps:
      - checkout
      - run: ./gradlew asciidoctor
      - deploy:
          name: Deploy Release to GitHub
          command: |
            if [ $CIRCLE_BRANCH == 'master' ]; then
              bash .circleci/publish.sh
            fi

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - main
                - master
                - develop
                - /^([0-9]+)\.([0-9]+)$/
                - /^[0-9]+-.+$/
                - /^.+\/.+$/
      - publish:
          filters:
            tags:
              only:
                - /^([0-9]+)\.([0-9]+)\.([0-9]+)(?:-([0-9A-Za-z-]+(?:\.[0-9A-Za-z-]+)*))?(?:\+[0-9A-Za-z-]+)?$/
            branches:
              ignore: /.*/
      - documentation:
            filters:
              branches:
                only:
                  - master
